@media screen and (min-width :768px) and (max-width :991.98px)
{
    
    /***************about*************************/

.img-li1
{
    position: relative;
    right: 25%;
    width: 120px;
}
.img-li1::before
{
    content: " ";
    position: absolute;
    top: 36%;
    left: 58%;
    width: 3px;
    height: 300px;
    background-color: #e9ecef;
    
    
}
.info-li1
{
    position: relative;
    right: 25%;
    width: 40%;

}

.img-li2
{
    position: relative;
    right: 25%;
    width: 120px;
}
.img-li2::before
{
    content: " ";
    position: absolute;
    top: 40%;
    left: 58%;
    width: 3px;
    height: 300px;
    background-color: #e9ecef;
    
    
}
.info-li2
{
    position: relative;
    left: 37%;
    width: 40%;
}

.img-li3
{
    position: relative;
    right: 25%;
    width: 120px;
}
.img-li3::before
{
    content: " ";
    position: absolute;
    top: 36%;
    left: 58%;
    width: 3px;
    height: 300px;
    background-color: #e9ecef;
    
}
.info-li3
{
    position: relative;
    right: 25%;
    width: 40%;

}

.img-li4
{
    position: relative;
    right: 25%;
    width: 120px;
   
}
/* .img-li4::before
{
    content: " ";
    position: absolute;
    top: 99%;
    left: 53%;
    
    width: 3px;
    height: 200px;
    background-color: #e9ecef;
    
    
} */
.info-li4
{
    position: relative;
    left: 36%;
    width: 40%;
}


.col-img {
    height: 150px;
    position: relative;
    left:-20%;
  
  
  }
  .col-img button {
    position: relative;
    left: 4.5rem;
    height: 90px !important;
    width: 90px !important;
  }
  .col-img  h3{
      font-size: 12px;
  }
  .col-img::before {
    content: "";
    width:3px;
    height:250px;
    position: absolute;
    background-color: #e9ecef;
    bottom: 100%;
    z-index: -3;
    left: 45%;
  }
  
}